@font-face {
  font-family: 'ubuntu';
  src: url('../font/Ubuntu-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('../font/Ubuntu-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu-mono';
  src: url('../font/UbuntuMono-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}

table {
    width: 100%;
}

p {
    text-align: justify; 
}

.fa-home:before, .icon-home:before, .headerlink {
    display: none;
}

.article-container {
  display: flex;
  flex-direction: column;
}

.article-container > .related-pages {
    margin-top: 25px;
    font-size: var(--font-size--small);
    border-bottom: 1px solid var(--color-background-border);
    padding-bottom: 1rem;
}

.icon-home {
    font-size: 0 !important;
}

.sidebar-brand {
    padding-top: 0;
}

.sidebar-logo-container{
    margin-top: 0;
}

.sidebar-search-container {
    background: transparent !important;
}

.sidebar-search-container::before {
    display: none;
}

.sidebar-search {
    background-color: var(--color-sidebar-search-background);
    border-left: 1px solid var(--color-sidebar-search-border);
    border-radius: 20px 0 0 20px;
}

.content h1, .edit-container > p {
    font-weight: 800;
}

a.current, .content h1, .toc-tree li.scroll-current > .reference, .edit-container > p {
    color: #E95420 !important;
}

@media (prefers-color-scheme: dark) {
    a.current, .content h1, .toc-tree li.scroll-current > .reference, .edit-container > p {
        color: #8B3583 !important;
    }
}

.edit-this-page {
    width: 200%;
    background-color: var(--color-sidebar-background);
    border-radius: 20px 0 0 20px;
    margin-top: 20px;
}

.edit-container {
    width: calc(15em - 60px);
    padding: 30px;
}

.edit-container > p {
    margin-top: 0;
    margin-bottom: 25px;
}

.edit-container .muted-link {
    color: var(--color-content-foreground);
    background-color: var(--color-background-primary);
    padding: 5px 20px;
    border-radius: 20px;
}

.lang-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-gap: 7px;
    padding-left: 0;
}

.lang-list > li > p > a {
    display: block;
    color: var(--color-content-foreground);
    background-color: var(--color-sidebar-background);
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 20px;
}

.injected {
    display: none;
}

/* override table width restrictions */
.wy-table-responsive table th
, .wy-table-responsive table td
{
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.wy-table-responsive
{
    overflow: visible !important;
}
