table {
    width: 100%;
}

p {
    text-align: justify; 
}

.logo {
    width: 180px !important;
}

.fa-home:before, .icon-home:before {
    display: none;
}

.icon-home {
    font-size: 0 !important;
}

/* override table width restrictions */
.wy-table-responsive table th
, .wy-table-responsive table td
{
    /* !important prevents the common CSS stylesheets from
       overriding this as on RTD they are loaded after this stylesheet */
    white-space: normal !important;
}

.wy-table-responsive
{
    overflow: visible !important;
}